body {
    background-color: #f9f9f9
}
  
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.container {
    background-color:transparent;
}

.navbar-brand{
    font-weight: 700;
}

.nav li a{
    padding-left: 0;
}

.nav li .active{
    border-bottom: 2px solid #0d6dfd;
    text-decoration: none;
}

.breadcrumb-item a {
    text-decoration: none;
}

.card img{
    padding: 1px;
    width: 305px;
    height: 257px;
}

.boxy{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0.1428571429rem 0.5714285714rem 0.0714285714rem rgb(22 23 24 / 16%);
    transition: box-shadow 300ms ease-in-out;
    background-color: transparent;
    font-size: 1rem;
    z-index: 5;
    border-radius: 0.2857142857rem;   
}


button.accordion-button{
    padding:2% 0;
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
}

.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.title-container{
    background-color: white;
    text-decoration: none;
}
.title-container h6{
    color: #0d6dfd;
}
.title-container h4{
    color: black;
}
.boxy a{
    text-decoration: none;
    text-decoration-color: none;
}